*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --azul: #3D93DB;
    --white: #efefef;
    --preto: #272727;
    --verde: #34A789;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins';
    overflow-x: hidden;
}

/* HEADER */

.header{
    background-color: var(--verde);
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-header{
    width: 95%;
    height: 80%;
    /* background-color: #3D93DB; */
    display: flex;
}

.logo-header{
    width: 20%;
    height: 90%;
    /* background-color: black; */
}

.logo-header img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(4);
}

.text-header{
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

/* CADASTRAR LIVRO */

.registerbook-content{
    width: 100vw;
    height: 80px;
    /* background-color: wheat; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9999;
}

.c-regbook{
    width: 93%;
    height: 90%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

.btnRegisterBook{
    width: 15%;
    height: 50%;
}

.btnRegisterBook button{
    width: 100%;
    padding: 0.5rem;
    font-family: 'Poppins';
    border-radius: 2rem;
    border: 2px solid var(--verde);
    transition: transform 0.3s ease-in-out;
}

.btnRegisterBook button:hover{
    background-color: var(--verde);
    color: var(--white);
    transform: scale(1.01);
    cursor: pointer;
}

/* LIVROS CADASTRADOS */

.registeredbooks-c{
    width: 100vw;
    height: auto;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
}

.regb-content{
    width: 93%;
    height: 90%;
    /* background-color: orange; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text-regbcont{
    font-size: 2rem;
    border-bottom: 3px solid black;
}

/*  MODAL */

.modal-registerbook{
    width: 60vw;
    height: 450px;
    background-color: rgb(223, 223, 223);
    position: absolute;
    bottom: 10rem;
    left: 30rem;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 5px rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 999999;
}

.content-form{
    display: flex;
}

#livroForm{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#livroForm input{
    width: 80%;
    border-radius: 1.5rem;
    padding: 0.5rem;
    border: 1px solid var(--verde);
}

.text-modal{
    font-size: 2rem;
}

.btnCloseModal{
    color: var(--verde);
}

.btnCloseModal:hover{
    cursor: pointer;
}

.text-btn-content{
    display: flex;
    justify-content: space-between;
}

.btnSaveBook{
    width: 30%;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: 1px solid var(--verde);
    font-family: 'Poppins';
    transition: transform 0.3s ease-in-out;
}

.btnSaveBook:hover{
    transform: scale(1.05);
    background-color: var(--verde);
    color: white;
    cursor: pointer;
}

.hidden{
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(56, 56, 56, 0.3); /* cor de fundo semi-transparente */
    backdrop-filter: blur(3px); /* adicione o efeito de desfoque aqui */
 
  }

  .overlay.hidden {
    display: none;
  }

  /*  LIVROS CADASTRADOS*/

  .list-regbcontent{
    height: auto;
    /* background-color: brown; */
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
