*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --azul: #3D93DB;
    --white: #efefef;
    --preto: #272727;
    --verde: #34A789;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins';
    overflow-x: hidden;
}

.main-content{
    width: 100vw;
    height: 600px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-info{
    width: 70%;
    height: 90%;
    /* background-color: blue; */
}

.book-comments{
    width: 25%;
    height: 90%;
    background-color: rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-binfo{
    width: 100%;
    height: 100%;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
}

.book-titleauthor{
    width: 50%;
    height: 13%;
    /* background-color: blue; */
    margin: 0 auto;
    text-align: center;
}

.book-titleauthor h2{
    font-size: 2.5rem;
}

.book-titleauthor p{
    font-size: 1.5rem;
    position: relative;
    bottom: 3px;
}

.book-coverdesc{
    width: 95%;
    height: 80%;
    /* background-color: aqua; */
    display: flex;
    gap: 2rem;
}

.book-cover{
    width: 25%;
    height: 60%;
    background-color: beige;
}

.book-desc{
    width: 100%;
    height: 80%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
}

.text-bookdesc{
    /* background-color: blue; */
    width: 95%;
    font-size: 1.5rem;
    text-align: justify;
}

.c-bcomments{
    width: 95%;
    height: 95%;
    /* background-color: red; */
}

.bcomments-textstar{
    width: 100%;
    height: 20%;
    /* background-color: aqua; */
}

.bc-text{
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.bc-text span{
    width: 50%;
}

.users-comments{
    width: 100%;
    height: 40%;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.commentuser-content{
    width: 95%;
    height: 45%;
    background-color: var(--verde);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.icon-user{
    width: 20%;
    height: 80%;
}

.icon-user img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.userc-c{
    width: 75%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 0.8rem;
}

.bc-stars{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}

.bc-stars-div{
    width: 50%;
    height: 100%;
}

.bc-stars img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}