*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --azul: #3D93DB;
    --white: #efefef;
    --preto: #272727;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins';
    overflow-x: hidden;
}

.main-content{
    width: 100vw;
    height: 500px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-pagewishlist{
    width: 90%;
    height: 90%;
    background-color: blue;
}

.c-text{
    background-color: orange;
    width: 30%;
    font-size: 1.5rem;
}

.fav-itens{
    width: 90%;
    height: 80%;
    background-color: purple;
}

.likeIconRedColor{
    color: rgb(214, 50, 50);
}